.Post {
  border: 1px solid var(--border-color);
  margin-top: 15px;
  position: relative;
  border-radius: 4px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
      display: flex;
      align-items: center;
      gap: 20px;
      height: 60px;
      padding: 20px;
      cursor: pointer;
    }
    .update {
      margin-right: 20px;
    }
     .dropdown {
    position: absolute; 
    list-style: none;
    top: 7%;
    right: 0; 
    z-index: 1; 
    
    li {
      display: block;
      width:100px;
    }
  }
  }
  .content {
    height: 500px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .footer {
    padding: 20px;

    .like {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .icon {
        font-size: 1.5rem;
      }
    }

    .caption {
      margin-top: 12px;
    }

    .time-ago {
      margin-top: 12px;
      color: #aaa;
    }
  }
}
