.Follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    .user-info{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .follow-link{
        color: var(--accent-color);
    }
}